
.aside {
    float: right;
    height: 100%;
    width: 20%;
    background-color: gray;
}



.resources:hover {
    opacity: 0.5;
}

.resource-tag-container {
    margin-top: 70px;
    width: 150px;
    height: auto;
    border: 1px rgb(183, 183, 183) solid;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.filter-options {
    width: 120px;
    border-radius: 15px;
    background: #f0f0f0;
    border: 1px solid #dbdbdb;
    text-transform: capitalize;
    color: #242424;
}

.filter-options:hover {
    opacity: 0.5;
}

.formControl {
    background-color: white;
    box-shadow: #64ffda;
    

}