
.aside {
    float: right;
    height: 100%;
    width: 20%;
    background-color: gray;
}

.resources {
    margin: 20px;
    background-color: bisque;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 75%;
}