.job-post-container {
  border-bottom: 1px grey solid;
  height: 200px;
  width: 90%;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  background-color: white;
}

.job-post-left {
  flex: 1;
  text-align: center;
}

.job-post-mid {
  flex-direction: column;
  flex: 2;
  margin-left: 20px;
  margin-top: 20px;
}

.timestamp-title {
  margin-top: 20px;
  color: rgb(181, 181, 181);
}

.timestamp {
  margin-left: 10px;
}

.job-post-right {
  flex: 1;
}