.par {
  font-family: 'Roboto', sans-serif;
}

.connect {
  font-family: 'Bodoni Moda', serif;
}

.collaborate {
  font-family: 'Bodoni Moda', serif;
}

.captivate {
  font-family: 'Bodoni Moda', serif;
}