.par {
  font-family: 'Roboto', sans-serif;
}

.connect {
  font-family: 'Bodoni Moda', serif;
}

.collaborate {
  font-family: 'Bodoni Moda', serif;
}

.captivate {
  font-family: 'Bodoni Moda', serif;
}

/* .text-shadow {
  text-shadow:
  -1px -1px 0 #000,
  -1px -1px 0 #000,
  -1px -1px 0 #000,
  -1px -1px 0 #000,
} */