.quotes {
  font-family: 'Italiana', sans-serif;
}

.author {
  font-family: 'WindSong', sans-serif;
}

/* font-family: 'Abril Fatface', cursive;
font-family: 'Corinthia', cursive;
font-family: 'Courgette', cursive;
font-family: 'Italiana', serif;
font-family: 'Italianno', cursive;
font-family: 'Mr De Haviland', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'WindSong', cursive;
font-family: 'Wire One', sans-serif; */