.job-posts-container {
  overflow: scroll;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  /* border: 1px rgb(183, 183, 183) solid; */
  width: 60%;
  height: 90vh;
  align-items: center;
  margin-left: 13%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}